.home-heading{
    color:#ffffff;
    font-size: 25px;
}
.dropdown-container{
    display: flex;
    align-items: center;
}
.logout-container{
    display: flex;
    margin-top:5px;
}
.logout-btn{
    margin-left:10px;
    border-radius: 20px;
    border:solid 1px ;
    
}